<div class='row profile'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='introduction'>
      {{ introduction }}
    </div>
    <span
      aria-hidden='true'
      class='fa fa-crop fa-lg'>
    </span>
    <div>{{ designHeader }}</div>
    <div>{{ designSummary }}</div>
    <hr>
    <span
      aria-hidden='true'
      class='fa fa-code fa-lg'>
    </span>
    <div>{{ developmentHeader }}</div>
    <div>{{ developmentSummary }}</div>
    <hr>
    <span
      aria-hidden='true'
      class='fa fa-wrench fa-lg'>
    </span>
    <div>{{ maintenanceHeader }}</div>
    <div>{{ maintenanceSummary }}</div>
    <hr>
    <div class="summary">
      {{ callToAction }}
      <br/>
      {{ summary }}
    </div>
  </div>
</div>
